@model Laundry
<html>
<head>
    <title>Bem vindo</title>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#ececec url('http://www.iclothesapp.com.br/Content/Site/images/backgrounds/001.jpg') repeat-x left top">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table width="750" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table width="690" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="right" valign="top">
                                                    <img src="https://consulfarma.com/Content/Hotsites/ConsulfarmaLAB/images/Consulfarma-LAB_fclaro.png" width="1" height="30">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="668" border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;">
                        <tbody>
                            <tr>
                                <td align="center" style="padding-top:30px; width: 100%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="100%" align="left" valign="top" style="padding:0 35px 20px">
                                                    <img style="display:block;border:none" alt="Envato Account" height="25" src="https://consulfarma.com/Content/Hotsites/ConsulfarmaLAB/images/Consulfarma-LAB_fclaro.png" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="left" valign="top" style="padding:0px 65px">
                                                    <div style="color:#525252;font-family:Helvetica,Arial;font-size:14px;line-height:21px;font-weight:300;padding-bottom:40px">
                                                        <div>
                                                            <p><b>Bem vindo ao iClothes</b></p>
                                                            <p>Olá, <b>@Model.NomeFantasia</b></p>
                                                            <p>Você foi cadastrado em nosso sistema para atender aos clientes de sua região.</p>
                                                            <p>Clique no link abaixo para acessar sua área</p>
                                                            <p><a href="http://consulfarma.com">http://consulfarma.com</a></p>
                                                            <p><br /></p>
                                                            <ul>
                                                                <li> Utilize o username <b>@Model.Identity.UserName</b> e a senha:</li>
                                                            </ul>
                                                            <div style="text-align: center; padding: 20px; background-color: #b5b5b5">
                                                                <h1>Teste</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="background-color: #313131">
                                <td align="left" valign="middle" style="padding: 20px">
                                    <img src="https://consulfarma.com/Content/Site/images/logo-white.png" width="102" height="19" alt="Envato" class="CToWUd">
                                </td>
                                <td style="padding: 20px">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:#878787;font-family:Helvetica,Arial;font-size:11px;line-height:13px;font-weight:300;text-align:right">
                                        <tbody>
                                            <tr>
                                                <td align="right" valign="top" style="padding-top:16px; color: #fff">
                                                    Envato, PO Box 16122, Collins Street West, VIC 8007, Australia
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" valign="top" style="padding-top:6px">
                                                    <a href="http://envato.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=pt-BR&amp;q=http://envato.com&amp;source=gmail&amp;ust=1526576454916000&amp;usg=AFQjCNGmW0WV_ZbHrVg9fHhZtVXls2t_1Q">http://envato.com</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="668" style="padding: 15px">
                        <tbody></tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>